
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  }

li {
  float: left;
  border-right: 1px solid #ddd;
  background-color: #FFFAF0;
  
}

li a {
  display: block;
  color: brown;
  text-align: center;
  font-family: Verdana;
  padding: 16px 16px;
  text-decoration: none;
}

li a:hover {
    background-color : white;
}

.active {
  background-color:white;
}
li a:hover:not(.active) {
  background-color: white;
}
li:last-child {
  border-right: none;
}
.rightend {
 float: right;
}

.header {
    padding: 250px 85px;
    text-align: center;
    background: white;
  }
.leftcolumn {   
    float: left;
    width: 75%;
  }
  
 
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
 
.team_img {
    background-color: white;
    padding: 0px;
  }
  
  
.inner {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  

.outer::after {
    content: "";
    display: table;
    clear: both;
  }

.abouthead2 {
    font-family: sans-serif;
  }

.aboutush2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.aboutp1 {
    font-family: sans-serif;
    color: white;
    background-color: black;
}